---
import Layout from '../layouts/Layout.astro';
console.log('javascript')
---
<div>
    <Layout title="About Me">
        <main>
            <div class="mx-auto text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
                    Sobre mi
                </h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                    Hola, soy un desarrollador web, me gusta mucho programar y aprender cosas nuevas, me gusta mucho la tecnologia y la programacion, me gusta mucho el diseño
</div>