---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Header.astro';
---

<Layout title="Portfolio Web">
	<main>
		<h1 class="text-6xl text-white font-bold" style="text-align: center; padding: 10%">Portafolio Web</h1>
	</main>
</Layout>

