---
import HeaderButton from "./HeaderButton.astro"
console.log ('javascript') 
---

<header class="py-2 px-4 mx-auto  max-w-xl" > 
    <nav class="items-center w-full text-center md:flex-row mb-2" >
        <HeaderButton class="text-white" href="/">Inicio</a>
        <HeaderButton class="text-white" href="/">Mis proyectos</a>
        <HeaderButton class="text-white" href="/">Experiencia</a>
        
            
    </nav>
</header>
