---
import AnimatedText from "./Animated-text.astro"

---
<div class="mx-auto my-16 text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
        Tomas Moreno Bauer
    </h2>
    <AnimatedText>
</div>