---
import AnimatedText from "./Animated-text.astro"

---

<div class="mx-auto my-16 text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
        Tomas Moreno Bauer
    </h2>
    <AnimatedText />
    <div class="flex items-center justify-evenly mt-10">
        <div class="text-white max-w-screen-sm flex font-serif">
            <p class="text-left text-2xl">Soy un apasionado programador web junior que esta en constante crecimiento. Mi principal objetivo es poder crecer como persona y profesionalmente</p>
        </div>
        <div class="flex flex-col items-center mt-10">
            <div class="mb-4">
                <img src="/assets/WhatsApp Image 2024-09-02 at 07.44.57.jpeg" alt="Foto mia" class="w-56 rounded-full">
            </div>
            <div class="flex items-center space-x-4">
                <a href="https://github.com/TomasMorenoo"><img src="/assets/github.png" alt="GitHub" class="w-10"></a>
                <a href="mailto:morenobauer10@gmail.com" class="bg-black text-transparent px-2 py-1 rounded-md" style="-webkit-text-stroke: 1px black;">Morenobauer10@gmail.com</a>
                <a href="https://www.linkedin.com/in/tomas-moreno-bauer"><img src="/assets/linkedin.png" alt="LinkedIn" class="w-10"></a>
            </div>
        </div>
</div>
