---

---
<div class="flex items-center justify-evenly">
    <div class="text-white max-w-screen-sm flex">
        <p>Soy un apasionado programador web junior que esta en constante crecimiento. Mi principal objetivo es poder crecer como persona y profesionalmente</p>
    </div>
    <img src="../assets/WhatsApp Image 2024-09-02 at 07.44.57.jpeg" alt="Foto mia" class="max-w-56 rounded-full">
</div>
